<div class="tres_columnas_wrapper">

    <div class="tres_columnas">
     <div class="columna_izquierda col">
   
       <h2>Bla bla</h2>
       <ul>
       <li><a href="#">cualquier cosa</a></li>
         <li><a href="#">cualquier cosa</a></li>
         <li><a href="#">cualquier cosa</a></li>
         <li><a href="#">cualquier cosa</a></li>
         <li><a href="#">cualquier cosa</a></li>
         <li><a href="#">cualquier cosa</a></li>
         <li><a href="#">cualquier cosa</a></li>
       </ul>
     </div>
     <div class="columna_centro col">
   
       <h2>Bla bla</h2>
       <ul>
       <li><a href="#">cualquier cosa</a></li>
         <li><a href="#">cualquier cosa</a></li>
         <li><a href="#">cualquier cosa</a></li>
         <li><a href="#">cualquier cosa</a></li>
         <li><a href="#">cualquier cosa</a></li>
         <li><a href="#">cualquier cosa</a></li>
         <li><a href="#">cualquier cosa</a></li>
       </ul>
     </div>
     <div class="columna_derecha col">
   
       <h2>Bla bla</h2>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat laudantium pariatur minima ratione a maiores culpa, natus similique impedit. Dolore enim perferendis corporis nihil. Exercitationem non tenetur illo cum harum?</p>
       <div class="icon twitter"></div>
       <div class="icon facebook"></div>
       <div class="icon instagram"></div>
       <div class="icon whatsapp"></div>
       <div>
       <a href="#" class="readmore">Leer Más</a>
     </div>
     </div>
    </div>
   </div>