<div class="dos_columnas">
    <div class="columna_izquierda col">
  
      <h2>Bla bla</h2>
      <h3>Hola hola</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate quasi, aliquid corrupti reiciendis voluptatum labore aspernatur est at. Suscipit recusandae rerum officiis ad dolorum nostrum ipsum eveniet, ipsa explicabo veritatis?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum numquam, officia porro tenetur quidem suscipit in fugit reiciendis repellendus eum optio quos exercitationem totam! Placeat, fugiat laudantium? Laudantium, sit odio!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quae laboriosam, officiis cum porro soluta, veritatis doloremque qui harum explicabo ipsa quidem at animi repellat eveniet, necessitatibus esse repudiandae laudantium?</p>
    </div>
    <div class="columna_derecha col">
  
      <h2>Bla bla</h2>
      <ul>
        <li><a href="#">cualquier cosa</a></li>
        <li><a href="#">cualquier cosa</a></li>
        <li><a href="#">cualquier cosa</a></li>
        <li><a href="#">cualquier cosa</a></li>
        <li><a href="#">cualquier cosa</a></li>
        <li><a href="#">cualquier cosa</a></li>
        <li><a href="#">cualquier cosa</a></li>
      </ul>
    </div>
   </div>